@page "/"


<h1>Bem-vindo ao Sammi Games</h1> <!-- Texto de boas-vindas -->

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <NavLink class="btn btn-primary btn-block mr-2" href="/jogo1" >Botão 1</NavLink> <!-- Botão 1 -->
        </div>
        <div class="col-md-3">
            <NavLink class="btn btn-primary btn-block mr-2" href="/jogo2" >Botão 2</NavLink> <!-- Botão 2 -->
        </div>
        <div class="col-md-3">
            <NavLink class="btn btn-primary btn-block mr-2" href="/jogo3" >Botão 3</NavLink> <!-- Botão 3 -->
        </div>
        <div class="col-md-3">
            <NavLink class="btn btn-primary btn-block mr-2" href="/jogo4" >Botão 4</NavLink> <!-- Botão 4 -->
        </div>
    </div>
</div>